{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1 class="iconized user">{{ 'profile.show.heading'|trans }}</h1>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <table class="table-box">
            <tr class="row">
                <th class="head" colspan="2">
                    {{ form_widget(form._token) }}
                    {{ 'change_password.title'|trans }}
                </th>
            </tr>

            {% set formError = form_errors(form.current_password) %}
            <tr class="row">
                <td class="cell">
                    {{ form_label(form.current_password) }}
                </td>
                <td class="cell{% if formError is not empty %} error{% endif %}">
                    {{ form_widget(form.current_password) }}
                    {% if formError is not empty %}
                        <div>{{ formError|raw }}</div>
                    {% endif %}
                </td>
            </tr>

            {% set formError = form_errors(form.plainPassword.first) %}
            <tr class="row">
                <td class="cell">
                    {{ form_label(form.plainPassword.first) }}
                </td>
                <td class="cell{% if formError is not empty %} error{% endif %}">
                    {{ form_widget(form.plainPassword.first) }}
                    {% if formError is not empty %}
                        <div>{{ formError|raw }}</div>
                    {% endif %}
                </td>
            </tr>

            {% set formError = form_errors(form.plainPassword.second) %}
            <tr class="row">
                <td class="cell">
                    {{ form_label(form.plainPassword.second) }}
                </td>
                <td class="cell{% if formError is not empty %} error{% endif %}">
                    {{ form_widget(form.plainPassword.second) }}
                    {% if formError is not empty %}
                        <div>{{ formError|raw }}</div>
                    {% endif %}
                </td>
            </tr>

            <tr class="row">
                <td class="cell"></td>
                <td class="cell">
                    <button type="submit"><img src="{{ asset('bundles/otcweb/img/icons/save.png') }}"> {{ 'change_password.submit'|trans }}</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
