<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/otcweb/css/font-awesome.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/otcweb/css/main.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header class="clearfix">
    <nav id="access" role="navigation">
        <h3 class="assistive-text">{{ 'layout.mainmenu'|trans({}, 'Pages') }}</h3>

        <div class="skip-link">
            <a class="assistive-text" href="#content" title="{{ 'layout.switch_to_content'|trans({}, 'Pages') }}">{{ 'layout.switch_to_content'|trans({}, 'Pages') }}</a>
        </div>
        <div class="menu-default_menu-container">
            <ul id="menu-default_menu" class="menu">
                <li id="menu-item-1">
                    <a href="{{ path('otc_web_homepage') }}">{{ 'layout.pages.start'|trans({}, 'Pages') }}</a>
                </li>
                <li id="menu-item-3">
                    <a href="#">{{ 'layout.pages.translations'|trans({}, 'Pages') }}</a>
                </li>
                <li id="menu-item-4">
                    <a href="#">{{ 'layout.pages.downloads'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-5">
                    <a href="#">{{ 'layout.pages.browser'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-6">
                    <a href="#">{{ 'layout.pages.import'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-7">
                    <a href="#">{{ 'layout.pages.export'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-9">
                    <a href="#">{{ 'layout.pages.log'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-10">
                    <a href="#">{{ 'layout.pages.statistics'|trans({}, 'Pages') }}</a></li>
                <li id="menu-item-11">
                    <a href="#">{{ 'layout.pages.admin'|trans({}, 'Pages') }}</a>
                    <ul class="sub-menu">
                        <li id="menu-item-11-1">
                            <a href="#">{{ 'layout.pages.admin.projects'|trans({}, 'Pages') }}</a></li>
                        <li id="menu-item-11-2">
                            <a href="#">{{ 'layout.pages.admin.users'|trans({}, 'Pages') }}</a></li>
                        <li id="menu-item-11-3">
                            <a href="#">{{ 'layout.pages.admin.languages'|trans({}, 'Pages') }}</a></li>
                        <li id="menu-item-11-5">
                            <a href="#">{{ 'layout.pages.admin.importer'|trans({}, 'Pages') }}</a></li>
                        <li id="menu-item-11-4">
                            <a href="#">{{ 'layout.pages.admin.exporter'|trans({}, 'Pages') }}</a></li>
                        <li id="menu-item-11-6">
                            <a href="#">{{ 'layout.pages.admin.vcs'|trans({}, 'Pages') }}</a></li>
                    </ul>
                </li>
                <li class="right">
                    <a href="#">{{ app.request.locale|trans({}, 'Languages') }}</a>
                    <ul class="sub-menu">
                        {% if app.request.method == 'GET' %}
                            {% set requestParams = app.request.query %}
                        {% else %}
                            {% set requestParams = app.request.request %}
                        {% endif %}
                        <li>
                            <a href="{{ path('otc_web_homepage', {'_locale':'de'}) }}">
                                {{ 'de'|trans({}, 'Languages') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('otc_web_homepage', {'_locale':'en'}) }}">
                                {{ 'en'|trans({}, 'Languages') }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="#"><img src="{{ asset('bundles/otcweb/img/icons/16x16/LockUser.png') }}">
                            <span class="username">{{ app.user.username }}</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-2-1">
                                <a href="#">{{ 'layout.profile.settings'|trans({}, 'Pages') }}</a>
                            </li>
                            <li id="menu-item-2-2">
                                <a href="#">{{ 'layout.profile.languages'|trans({}, 'Pages') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile.show'|trans({}, 'Pages') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile.edit'|trans({}, 'Pages') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">{{ 'layout.profile.change_password'|trans({}, 'Pages') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.security.logout'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        </ul>

                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.security.login'|trans({}, 'FOSUserBundle') }}</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% block header %}
    {% endblock %}
</header>

<section id="content"{% if pageClass is defined %} class="{{ pageClass }}"{% endif %}>
    {% block body %}{% endblock %}
</section>

<footer{% if pageClass is defined %} class="{{ pageClass }}"{% endif %}>
    {% block footer %}
    {% endblock %}
    <div class="footer clearfix">
        <div class="version">{{ 'footer.version'|trans({}, 'Footer') }} {{ version }}</div>
        <ul class="clearfix">
            <li>{{ 'footer.oss-hint'|trans({}, 'Footer') }}</li>
            <li>
                <a href="http://otrance.de/{% if app.request.locale == 'de' %}de{% else %}en{% endif %}/" target="_blank">{{ 'footer.homepage'|trans({}, 'Footer') }}</a>
            </li>
            <li>
                <a href="http://otrance.de/{% if app.request.locale == 'de' %}de{% else %}en{% endif %}/team/" target="_blank">{{ 'footer.team'|trans({}, 'Footer') }}</a>
            </li>
            <li>
                <a href="http://otrance.de/{% if app.request.locale == 'de' %}de{% else %}en{% endif %}/project/donate/" target="_blank">{{ 'footer.donate'|trans({}, 'Footer') }}</a>
            </li>
        </ul>
    </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
