<!DOCTYPE html>
<html>
<head>
    <title>oTranCe DEV!</title>
    <style type="text/css">
        *, html {
            font-family:Arial, Helvetica, sans-serif;
        }
        body {
            padding:10px;
        }
        div.profile {
            padding:10px;
            position: fixed;
            top:0;
            right: 0;
            width: 150px;
            height: 20px;
            text-align: right;
        }
        .profile a, .profile a:visited, .profile a:link, .profile a:active {
            color:#00f;
            text-decoration: none;
        }
        .profile a:hover {
            color:#F00;
        }
        .profile li {
            list-style: none;
        }
    </style>
</head>
<body>
<p>Change me! :D</p>
<div class="profile">
    {% if app.user %}
        Hi {{ app.user }}!
        <ul>
            <li><a href="{{ path("fos_user_change_password") }}">Change PW</a></li>
            <li><a href="{{ path("fos_user_profile_show") }}">Show Profile</a></li>
            <li><a href="{{ path("fos_user_profile_edit") }}">Edit Profile</a></li>
            <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
        </ul>
    {% else %}
        <a href="{{ path("fos_user_security_login") }}">Login</a>
    {% endif %}
</div>

</body>
</html>
