{% set pageClass = 'login' %}

{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <h1>{{ 'security.login.heading'|trans({}, 'FOSUserBundle') }}</h1>
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="login-box">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <fieldset>
                <legend>{{ 'security.login.title'|trans }}</legend>
                <div class="input-box">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="input clearfix">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                    </div>

                    <div class="input clearfix">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required"/>
                    </div>

                    <div class="input clearfix">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    </div>

                    <div class="input clearfix">
                        <label for="_submit"></label>
                        <button type="submit" id="_submit" name="_submit">
                            <img src="{{ asset('bundles/otcweb/img/icons/16x16/Key.png') }}">
                            {{ 'security.login.submit'|trans }}
                        </button>
                    </div>
                </div>
            </fieldset>
            {{ 'security.login.register-hint'|trans({'%registerLink%': path('fos_user_registration_register')})|raw }}
        </form>
    </div>
{% endblock fos_user_content %}
