{% set pageClass = 'login' %}

{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1>{{ 'resetting.heading'|trans }}</h1>
    <div class="login-box">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <fieldset>
                <div class="user-box">
                    <div class="input clearfix{% if invalid_username is defined %} error{% endif %}">
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required"/>
                        {% if invalid_username is defined %}
                            <div>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                        {% endif %}
                    </div>
                    <div class="input clearfix">
                        <label></label>
                        <input type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock fos_user_content %}
